@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000&display=swap");

:root {
  --dark-blue-1: hsl(209, 23%, 22%);
  --dark-blue-2: hsl(207, 26%, 17%);
  --dark-blue-3: hsl(200, 15%, 8%);
  --dark-grey: hsl(0, 0%, 52%);
  --light-grey: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);

  --border-radius: 5px;
  --box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294);
  --box-shadow-hover: 0px 0px 14px 7px rgba(0, 0, 0, 0.12);

  /* - Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
- Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%) */
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--light-grey);
  color: var(--dark-blue-3);
  font-family: "Nunito Sans";
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

header {
  background-color: white;
}

nav,
main {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem 1.2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 1rem;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

img {
  border-radius: 8px;
  max-width: 100%;
  box-shadow: var(--box-shadow);
}

.card-container {
  display: grid;
  grid-template-columns: 1fr; /* Default for mobile */
  justify-items: center;
  gap: 2.4rem;
  margin: 2rem 0;
}

.Card {
  border-radius: var(--border-radius);
  width: 100%;
  height: 100%;

  background-color: white;
  box-shadow: var(--box-shadow);
}

.Card:hover {
  box-shadow: var(--box-shadow-hover);
}

.Card img {
  border-radius: 8px 8px 0 0;
}

.country-info {
  padding: 0 1.5rem 2rem;
}

.Card p {
  margin: 0.2rem;
  padding: 0;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

input,
button,
a.button {
  font-family: "Nunito Sans";
  font-size: 1rem;

  border: none;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: white;
}

input {
  color: var(--dark-grey);
  padding: 1.2rem 1.6rem;
  width: min(100%, 480px);
}

input[name="bio"] {
  min-height: 200px;
}

button,
a.button {
  width: fit-content;
  padding: 0.6rem 2rem;
  cursor: pointer;
  display: inline-block;
  margin: 1rem 0;
}

button:hover,
a.button:hover {
  background-color: hsl(0, 0%, 94%);
}

button[type="submit"] {
  color: var(--white);
  background-color: #7672ce;
  margin: 0;
}

button[type="submit"]:hover {
  background-color: #544ec1;
}

.IndividualCountry {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  margin: 2rem 0;
}

@media (min-width: 540px) {
  h1 {
    font-size: 2rem;
  }

  nav,
  main {
    padding: 2rem;
  }

  .card-container {
    grid-template-columns: 1fr 1fr;
    justify-items: start;
  }
}

@media (min-width: 800px) {
  .card-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1100px) {
  .card-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
